---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> Save Our Earth, One Person at a Time</span>
            <h1 class="cs-title">Let’s Go Green As It Makes Environment</h1>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Join Community</a>
                <a href="" class="cs-button-solid cs-button2">Donate Now</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1279">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Company</span>
                <h2 class="cs-title">T-Nine Group helps founders and leaders build more purposeful and transformative businesses.</h2>
            </div>
            <p class="cs-text">
                We understand that sustainable transformation occurs when there is harmony between the business's commercial and human elements. Our expertise lies in integrating strategy with leadership, culture, and organizational design.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
   
</section>
 
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1666">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-standing.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-standing.jpeg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-standing.jpeg" alt="people standing" width="605" height="690">
            </picture>
            <!--SVG Graphic-->
            <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-swirl.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
        </div>
        <div class="cs-content">
            <!-- <span class="cs-topper">Our Services</span> -->
            <h2 class="cs-title">Our Services</h2>
            <p class="cs-text">
                Our role involves defining issues with clarity, guiding productive discussions, and translating insights into practical business solutions. 
            </p>
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/computer-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Mission & Strategy
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We are dedicated to assisting companies in defining and actualizing their purpose, strategy, and vision. Our expertise lies in analyzing the business and societal effects of decisions, enabling organizations to operate as both profitable and ethical entities.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/calendar-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Growth & Transformation
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We collaborate with organizations to identify and capitalize on opportunities in order to foster growth and enhance strategic adaptability. Our expertise lies in defining, organizing, and executing transformational change and capability initiatives.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/map-pin-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Leaders & Teams
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We coach founders and develop leaders to enable real, sustainable change. We help top teams debate and act on shared work, behaviours and routines to improve effectiveness and achieve results.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/map-pin-gold-2.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Culture & Design
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We help organizations align operating models, structures and incentives to their strategic goals. We define how best to organize work and tap into cultural strengths to deliver results with impact and engagement.
                    </p>
                </li>
            </ul>
            <a href="" class="cs-button-solid">View All Courses</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">About Us</h2>
                <p class="cs-text">
                    Drawing on a broad range of experience across various industries, business models, and functional areas, we possess the insights and expertise necessary to drive results in both large, established corporations (whether public or private) and to foster growth from inception in smaller enterprises.
                </p>
            </div>
            <!-- <a href="" class="cs-button-solid">View All Members</a> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset=https://root-design.nyc3.digitaloceanspaces.com/t-9/1656691921960.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/t-9/1656691921960.jpeg">
                    <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/t-9/1656691921960.jpeg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Mark Vander Kooy</span>
                    <span class="cs-job">Principal/Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Arlene MacCoy</span>
                    <span class="cs-job">Aesthetic Expert</span>
                </div>
            </li>
        </ul>
    </div>
</section>
   
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-717">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/t-9/Collaboration-rafiki.png">
            <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/t-9/Collaboration-rafiki.png">
            <img decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/t-9/Collaboration-rafiki.png" alt="runner" width="610" height="425" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Let's Work Together!</h2>
            <p class="cs-text">
                Email us at <a href="mailto:mvanderkooy@t-9group.com">mvanderkooy@t-9group.com</a>
                or message us below.
            </p>
            <!--Form-->
            <form class="cs-form" id="cs-form-717" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-717" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="text" id="email-717" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="text" id="phone-717" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-717" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}